.box{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 100px 70px 500px 200px;
}

.header{
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row-start: 1;
   grid-row-end: 2;
   background-color: black;
   color: white;
   border: 1px solid black;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.subheader{
   grid-column-start: 1;
   grid-column-end: 5;
   grid-row-start:2;
   grid-row-end: 3;
   background-color: #232f33;
   color: white;
   border: 1px solid white;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
}
.header :hover{
    border: 2px solid white;

    
}
.subheader :hover{
     background-color: black;
     text-decoration: ;
     cursor: pointer;
}
.search-bar{
     width: 500px;
     height: 30px;
     border-radius: 50px;
     border: 1px solid yellow;
     padding-left: 10px;
}

.box1{
border: 1px solid black;
background-color:white;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 50px 1fr 1fr;
/* grid-column-start: 1;
grid-column-end: 4;
grid-row-start: 1;
grid-row-end: 2; */
gap: 10px;
}
.H{
    grid-column-start: 1;
    grid-column-end: 3;
}
.box11{
width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color: chartreuse;
margin-top: 20px;
margin-left: 10px;


}

.box12{
    width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color:bisque;
margin-top: 20px;
}
.box13{
    width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color:cornsilk;
margin-left: 10px;
}

.box14{
    width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color:darkgrey
}
.box2{
border: 1px solid black;
background-color: white;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 50px 1fr 1fr;
}
.box21{
width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color: chartreuse;
margin-top: 20px;
margin-left: 10px;

}

.box22{
width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color:bisque;
margin-top: 20px;
}
.box23{
width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color:cornsilk;
margin-left: 10px;
}

.box24{
width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color:darkgrey
}

.box3{
border: 1px solid black;
background-color: white;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 50px 1fr 1fr;
}
.box31{
width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color: chartreuse;
margin-top: 20px;
margin-left: 10px;

}

.box32{
width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color:bisque;
margin-top: 20px;
}
.box33{
width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color:cornsilk;
margin-left: 10px;
}

.box34{
width: 150px;
height: 150px;
/* border: 1px solid red; */
background-color:darkgrey
}
.box4{
border: 1px solid black;
background-color: white;
display: grid;
grid-template-columns: repeat(2,1fr);
grid-template-rows: 80px 1fr 1fr;
}
.img{
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
}
